header {
  .upper-header {
    background-color: $primary;
    padding: 0.5rem 0;
    ul {
      li {
        i {
          color: $color-white;
        }
        margin-right: 0.5rem;
        a {
          color: $color-white;
          margin-left: 0.2rem;
        }
      }
    }
    .media-icon {
      li {
        i {
          width: 1.2rem;
          margin-right: 1rem;
        }
      }
    }
  }
  .lower-header {
    background-color: $lower-header-color;
    // padding: 2rem 0;
  }
  .uni-tech-box {
    li {
      padding: 1.2rem 0;
    }
    a {
      .uni {
        color: $primary;
        font-size: 2rem;
        font-weight: 900;
        text-transform: capitalize;
      }
      .tech {
        color: $secondary;
        font-size: 2rem;
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }
  .home-box {
    li {
      padding: 1.2rem 1.5rem;
      a {
        font-size: 1.2rem;
        font-weight: 600;
        color: $secondary;
      }
      margin-left: 0.2rem;
      &:hover {
        background-color: $primary;
        a {
          color: $color-white;
        }
      }
    }
  }

  .page-box {
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    padding: 0 1rem;
    &:hover {
      color: $color-white;
      .dropDown-content {
        display: block;
        a {
          color: $secondary;
        }
      }
    }
    .fa-angle-down {
      width: 1rem;
      margin-left: 0.5rem;
    }
  }

  .dropDown-content {
    width: 150%;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;

    li {
      margin-left: 0;
      padding: 0rem 1rem;
    }
  }
}

// services-section
.services-section {
  background-color: $primary;
  padding: 4rem 0;
  h1 {
    text-transform: capitalize;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: $color-white;
  }
  p {
    color: $color-white;
    text-align: center;
    margin-top: 0.5rem;
  }
}

// our-services-section

.our-service-section {
  padding: $all-section-padding;
  .about-us-div {
    span {
      font-size: 1.5rem;
      font-weight: 600;
      color: $primary;
      text-transform: capitalize;
    }
    h2 {
      text-align: justify;
      font-size: 2.5rem;
      color: $secondary;
    }
    p {
      color: $text-color;
      line-height: 1.8;
    }
  }
}

// our-product-section

.our-product-section {
  background-color: $tertiary;
  padding: $all-section-padding;
  .product-heading-para-box {
    text-align: center;
    h3 {
      font-size: 2.8rem;
      font-weight: 900;
      text-transform: capitalize;
      color: $secondary;
    }
    p {
      color: $text-color;
      font-size: 1.2rem;
      font-weight: 300;
      margin: 1rem 0;
    }
  }

  .product-img-box {
    display: inline-block;
    width: 20%;
  }
  .product-features-heading-para-box {
    h4 {
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: capitalize;
      color: $secondary;
      margin: 1rem 0;
    }
    p {
      color: $secondary;
      font-weight: normal;
    }
  }
  .products-container {
    margin: 5rem 0;
  }
}

// best-deal-section

.best-deal-section {
  background-color: $primary;
  padding: $all-section-padding;
  .best-deal-heading-para-box {
    h5 {
      font-size: 1.5rem;
      font-weight: 500;
      color: $color-white;
      text-transform: capitalize;
    }
    hr {
      height: 2rem;
      margin: 0 1rem;
    }
    p {
      font-size: 1.2rem;
      color: $color-white;
      font-weight: lighter;
      text-shadow: whitesmoke;
    }
  }
}

// beast-award-section

.best-award-section {
  padding: $all-section-padding;
  .award-heading-para-box {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    h3 {
      font-size: 2.8rem;
      font-weight: 900;
      text-transform: capitalize;
      color: $secondary;
    }
    p {
      color: $text-color;
      font-size: 1.2rem;
      font-weight: 300;
      margin: 1rem 0;
    }
  }
}
//  <!-- many-variations-section -->

.many-variations-section {
  padding: $all-section-padding;
  div {
    .variation-box {
      text-align: center;
      .variation-img-box {
        width: 10%;
        margin: 0 auto;
      }
      div {
        h4 {
          margin: 1rem 0;
          font-size: 2.5rem;
        }
        p {
          margin: 1rem 0 2rem 0;
          color: $text-color;
        }
      }
    }
  }
}

// footer

footer {
  background-color: #343a40;
  padding: $all-section-padding;
  a {
    color: $text-color;
    font-size: 1.3rem;
    font-weight: 100;
  }
  .lower-footer {
    text-align: center;
    color: $text-color;
    padding: 3rem 0 0 0;
    b {
      font-weight: 600;
      color: hsl(0, 3%, 81%);
    }
  }
  .upper-footer {
    i {
      color: $text-color;
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }
    .follow-us-box {
      li {
        a {
          i {
            margin-right: 1.5rem;
          }
        }
      }
    }
  }
}
