$font: "Archivo", sans-serif;
$primary: #dc3c45;
$secondary: #1b1e24;
$tertiary: #f8f9fa;
$text-color: #a2a7ad;
$lower-header-color: #f2f2f2;
$color-white: white;
$h1-size: 2.5rem;
$h2-size: 1.9rem;
$all-section-padding: 5rem 0;
